
<div class="modal fade" id="EditProject" tabindex="-1" role="dialog" aria-labelledby="EditProject" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <span class="modal-title titletext">Edit Project</span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm("EditProject", "EditProject", FormMethod.Post))
            {

            <div class="modal-body">
                <input hidden id="editprojid" name="editprojid">
                <p>
                    <input type="text" name="editname" id="editprojtitle" maxlength="50" />
                </p>
                <div class="areawrapper">
                    <textarea name="desc" cols="200" rows="10" id="editprojtext" maxlength="500"> </textarea>
                </div>
                <p>
                    Date:
                    <input type="date" name="editprojdate" value="start" id="editprojdate">
                </p>
                <p>
                    <div id="accordion">
                        <div class="card">
                            <div class="card-header" id="headingeditproj">
                                <h2 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseeditproj" aria-expanded="true" aria-controls="collapseeditproj">
                                        <span class="glyphicon glyphicon-wrench"> </span> Associated Skills
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseeditproj" class="collapse" aria-labelledby="headingeditproj" data-parent="#collapseeditproj">
                                <div class="card-body">
                                    @{Html.RenderPartial("~/Views/SkillPicker.cshtml"); }
                                </div>
                            </div>
                        </div>
                    </div>

                </p>

                <br />

            </div>
            <div class="modal-footer">
                <input class="btn btn-primary" type="submit" value="Save" name="command" />
                <input class="btn btn-primary" type="submit" value="Delete" name="command"/>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
            }
        </div>
    </div>
</div>
