
<div class="modal fade" id="addnote" tabindex="-1" role="dialog" aria-labelledby="addnote" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <span hidden name="editn" id="editn"></span>
                    <span class="modal-title titletext">New Note</span>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
            </div>
            @using (Html.BeginForm("AddNote", "AddNote", FormMethod.Post))
            {
                <div class="modal-body">
                    <p>
                        <input type="text" name="name" id="notetitle" maxlength="50"/>
                    </p>
                    <p>
                        <textarea name="desc" cols="200" rows="10" id="notetext" maxlength="500"> </textarea>
                    </p>
                    <p>
                        <div id="accordion">
                            <div class="card">
                                <div class="card-header" id="headingThree">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                                            <span class="glyphicon glyphicon-wrench"> </span> Associated Skills
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#collapseThree">
                                    <div class="card-body">
                                        @{Html.RenderPartial("~/Views/SkillPicker.cshtml"); }
                                    </div>
                                </div>
                            </div>
                        </div>

                    </p>

                </div>
                <div class="modal-footer">
                    <input class="btn btn-primary" type="submit" value="Add Note" />
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
                            }
        </div>
    </div>
</div>
