
<div class="modal fade" id="addskills" tabindex="-1" role="dialog" aria-labelledby="addskills" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <span class="modal-title titletext">Choose Skills</span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm("AddSkills", "AddSkills", FormMethod.Post))
            {
                <div class="modal-body">
                     @{Html.RenderPartial("~/Views/UserSkillPicker.cshtml"); }

                </div>
                <div class="modal-footer">
                    <input class="btn btn-primary" type="submit" value="Save" />
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            }
        </div>
    </div>
</div>
